<div class="container-fluid text-center" style="background: #4b7e86;padding: 0px;">
<nav class="navbar navbar-expand-lg" style="height: 55px;">
  <div class="brand-logo" [ngClass]="{ 'btn-brand-close': themeService.isMenu }">
  <div class="logo-wrapper">
    <img src="../../../../assets/img/logo.png" class="image" />
    <div class="title-logo">
      <!-- <img src="../../assets/img/text-logo.png" class="image" style="width: 65px;" /> -->
      <span style="color: #fff;">RHI</span>
      <span style="color: #b5dca4;">PCS</span>
    </div>
  </div>
</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="background: #4b7e86;">
          <a class="nav-link" aria-current="page" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Статистика</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Документы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Пользователи</a>
        </li>
      </ul>
      <div class="navbar-text">
        <div class="col set-wrapper">
          <div (click)="setting()" class="setting">
            <mat-icon class="setting icon-no-active">settings</mat-icon>
            <div>
              <div class="type-a-dropdown-content" [ngClass]="{'show': openSetting}">
                <a routerLink="/profile"><mat-icon style="margin-right: 15px;">person_outline</mat-icon>Профиль</a>
                <div class="toggle">
                  <mat-slide-toggle name="dark" [(ngModel)]="dark" id="dark">Тёмный режим</mat-slide-toggle>
                </div>
                <a href="#"><mat-icon style="margin-right: 15px;">message</mat-icon>Сообщения</a>
                <a (click)="logout()"><mat-icon style="margin-right: 15px;">exit_to_app</mat-icon>Выход</a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
        </div>
      </div>

      <div class="navbar-text">

        <div class="col set-wrapper">
          <div (click)="mail()" class="msg">
            <mat-icon class="setting icon-no-active">mail</mat-icon>
            <div>
              <div class="type-a-dropdown-content" style="width: 30%;" [ngClass]="{'show': openMail}">
                <a *ngFor="let item of msgData; let i = index" (click)="markAsRead(i)" style="text-align:left">
                  <mat-icon style="margin-right: 15px;">{{item.read ? 'drafts' : 'mail'}}</mat-icon>
                  <span>{{item.message}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </nav>
</div>