<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button
          matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools"
          #btn_1
          (click)="setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Профиль пользователя</span>
          <span class="tools-inner">Вы вошли как {{ userName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">

            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>User_Login</mat-card-title>
                <mat-card-subtitle>Example@mail.ru</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="col wrapper-card">
                  <div class="col user-avatar">
                    <div class="wrapper exmpl">
                      <img src="https://u.9111s.ru/uploads/202202/06/ab00564892151be3c0d25cba6449bbeb.jpg">
                    </div>
                  </div>
                  <div class="col">
                    <p>Role: <span>Moderator</span></p>
                    <p>Имя: <span>Кант</span></p>
                    <p>Фамилия: <span>Иммануил</span></p>
                    <p>Пол: <span>Мужской</span></p>
                    <p>Дата рождения: <span>22 апреля 1724</span></p>
                  </div>
                </div>
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="security()" ><mat-icon>lock_open</mat-icon>Безопасность</button>
                <button mat-button (click)="rights()"><mat-icon>how_to_reg</mat-icon>Права</button>
                <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </mat-card-actions>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <!-- change password -->
            <mat-card class="example-card widget change-pass" [ngClass]="{'show': isCard}">
              <mat-card-header>
                <mat-card-title>Изменить пароль</mat-card-title>
                <mat-card-subtitle>Example@mail.ru</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="col">
                  <p>Role: <span>Moderator</span></p>
                </div>
                <div class="col" style="display: flex;">
                  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" style="display: flex;width: 100%;">
                    <div class="col">
                      <mat-form-field class="example-full-width" style="width: 95%;">
                        <mat-label>Введите старый пароль</mat-label>
                        <input matInput placeholder="" formControlName="old_password">
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <div class="col">
                        <mat-form-field class="example-full-width" style="width: 95%;">
                          <mat-label>Новый пароль</mat-label>
                          <input matInput placeholder="" formControlName="password">
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field class="example-full-width" style="width: 95%;">
                          <mat-label>Подтверждение нового пароля</mat-label>
                          <input matInput  placeholder="" formControlName="confirmed_password">
                        </mat-form-field>
                      </div>
                      <button  mat-stroked-button color="primary" type="submit" style="margin-bottom: 15px;">Изменить</button>
                    </div>
                  </form>
                </div>

                <div *ngIf="successMessage" class="alert alert-success alerts" role="alert">
                  <mat-icon>done</mat-icon> {{ successMessage }}
                </div>
                <div *ngIf="changePasswordForm.hasError('passwordMismatch')" class="alert alert-danger alerts">
                  <mat-icon>warning</mat-icon>&nbsp;&nbsp;Пароли не совпадают!
                </div>
                <div *ngIf="changePasswordForm.get('password')?.hasError('invalidLength')" class="alert alert-danger alerts">
                  <mat-icon>warning</mat-icon>&nbsp;&nbsp;Новый пароль должен содержать минимум 8 символов!
                </div>
                <div *ngIf="error" class="alert alert-danger alerts" role="alert">
                  <mat-icon>warning</mat-icon>&nbsp;&nbsp;Введёный старый пароль не верен!
                </div>
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

          </div>
          <div class="col">

            <!-- access rights -->
            <mat-card class="example-card widget change-pass" [ngClass]="{'show': isCard_rights}">
              <mat-card-header>
                <mat-card-title>Права доступа</mat-card-title>
                <mat-card-subtitle>Example@mail.ru</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="col">
                  <p>Role: <span>Moderator</span></p>
                </div>
                <div class="col" style="display: flex;">
                  <div class="col">
                    Модератор имеет возможность просматривать и редактировать темы, на которые у него есть права модератора
                  </div>
                  <div class="col">
                    <div class="col">
                      Администратору доступны все темы с правами модератора, а также создание новых тем и добавление пользователей
                    </div>
                    <div class="col">

                    </div>
                  </div>
                </div>

                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
