.content {
  overflow-y: scroll;
  height: 100vh;
}
.container-row-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
}
  .tools-wrapper {
    display: flex;
    flex-direction: column;
  }
  .tools-title {
    color: #eb8b2d;
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .tools-inner {
    color: #9f9d9d;
  }
  .border-card {
    background: #eb8b2d;
    width: 100%;
    height: 5px;
  }
  ::ng-deep .mat-expansion-panel:hover {
    background-color:  var(--theme-panel-bg);
  }
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #eb8b2d;
  }
  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #eb8b2d;
  } 
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #eb8b2d !important;
  }
  /* profile setting */
  .change-pass {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .change-pass.show {
    opacity: 1;
  }
  @keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  /* Img profile */
  .wrapper {
    width: 180px;
    height: 180px;
    border-radius: 15px;
    border: 5px solid #cacaca;
  }
  .exmpl {
    overflow: hidden;
  }
  .exmpl img {
    width: auto;
    height: 110%;
    margin: 0px 0 0 -75px;
  }
  .user-avatar {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .wrapper-card {
    display: flex;
    flex-direction: row-reverse;
  }
  /* Mat-card */
  ::ng-deep.mat-card-header-text {
    margin: 0px !important;
  }
  .mat-card-title {
    font-size: 28px;
  }
  .mat-card-subtitle {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #9f9d9d;
  }
