.signup-page {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow-y: auto;
    background-color: #fafbfc;
}
.signup-wrapper {
    position: relative;
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}
.signup-form {
    width: 480px;
    padding: 35px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 24px 64px #26214a1a;
}
.signup-screen {
    position: fixed;
    height: 100cqh;
    width: 100%;
    background: linear-gradient(325deg, rgba(2,0,38,0) 0%, rgba(248,249,250,0.5) 35%, rgba(248,249,250,1) 100%);
}
.title-logo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
}
.logo-wrapper {
    width: 80px;
    display: flex;
    align-items: center;
 }
 .image {
    display: inline-block;
    width: 100%;
 }
.section {
    display: flex;
    align-items: center;
    background: url('../../../../assets/img/bglogin.jpg');
    background-size: 25%;
}
.signup-inner {
    display: flex;
    flex-direction: column;
}
.title {
    padding-top: 10px;
    padding-bottom: 30px;
}
.btn-in {
    padding: 10px;
    background: #4b7e86 !important;
    color: #fff;
}
.access {
    text-decoration: none;
    color: #345e64;
}
.access:hover {
    color: #6bafb9;
}
