.content {
  overflow-y: scroll;
  height: 100vh;
}
.container-row-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
}
.tools-wrapper {
  display: flex;
  flex-direction: column;
}
.tools-title {
  color: #4b7e86;
  font-size: 1.5rem;
  line-height: 1.1;
}
.tools-inner {
  color: #9f9d9d;
}
.border-card {
  background: #4b7e86;
  width: 100%;
  height: 5px;
}
::ng-deep.mat-panel-title:hover {
  color: red; /* Измените цвет текста на желаемый */
}




.example-container {
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding: 0 5px;
}

td.mat-column-star {
  width: 20px;
  padding: 0 5px;
}
td{
  padding: 0 5px;
}
th.mat-column-position, td.mat-column-position {

}
.bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #6df0cb;
  z-index: -1;
}
.mat-table-sticky-border-elem-right {
  border-left: 1px solid #ffffff;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #ffffff;
}
