<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
            (click)="setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;" appearance="outline">
            <mat-label>Добавить</mat-label>
            <mat-select>
              <mat-option (click)="toggleFormVisibility(0)">Добавить проект
                <mat-icon style="margin-left: 5px;">add_to_photos</mat-icon>
              </mat-option>
              <mat-option (click)="toggleFormVisibility(1)">Добавить направление
                <mat-icon style="margin-left: 5px;">add_to_photos</mat-icon>
              </mat-option>
              <mat-option (click)="toggleFormVisibility(2)">Добавить обьект
                <mat-icon style="margin-left: 5px;">add_to_photos</mat-icon>
              </mat-option>
              <mat-option (click)="toggleFormVisibility(3)">Добавить системы
                <mat-icon style="margin-left: 5px;">add_to_photos</mat-icon>
              </mat-option>
              <mat-option (click)="toggleFormVisibility(4)">Добавить пакет работ
                <mat-icon style="margin-left: 5px;">add_to_photos</mat-icon>
              </mat-option>
              <mat-option (click)="toggleFormVisibility(5)">Добавить смету
                <mat-icon style="margin-left: 5px;">add_to_photos</mat-icon>
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Структурная декомпозиция работ</span>
          <span class="tools-inner">Информационный раздел</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-header>
                <!-- <mat-card-title>Создать карточку объекта</mat-card-title> -->
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <h2>Вид</h2>
                  <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Структурный">
                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                        style="width: 100%;box-shadow:none">
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>
                            <span [style.paddingLeft.px]="40"> Наименование </span>
                          </th>
                          <td mat-cell *matCellDef="let data">
                            <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
                              [style.marginLeft.px]="data.level * 32" (click)="treeControl.toggle(data)">
                              <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                              </mat-icon>
                            </button>

                            {{data.code_wbs}}, {{data.name}}

                            <button mat-icon-button class="element-list-button"
                                    (click)="toggleElementsListVisible(data, data.level, data.id)"
                            >
                              <mat-icon>
                                play_arrow
                              </mat-icon>
                            </button>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="count">
                          <th mat-header-cell *matHeaderCellDef> Уровень </th>
                          <td mat-cell *matCellDef="let data"> {{data.type_node}} </td>
                        </ng-container>

                        <ng-container matColumnDef="dates">
                          <th mat-header-cell *matHeaderCellDef> Начало и окончание  </th>
                          <td mat-cell *matCellDef="let data"> {{data.start_date}} - {{data.end_date}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    </mat-tab>
                    <mat-tab label="Таблица">
                      <table id="tableData" mat-table [dataSource]="tableViewDataSources" class="mat-elevation-z8"
                        style="width: 100%;box-shadow:none">

                        <ng-container matColumnDef="Проект">
                          <th mat-header-cell *matHeaderCellDef> Проект </th>
                          <td mat-cell *matCellDef="let data, let i = index"
                              [attr.rowspan]="getRowspan('level0', i)"
                              [style.display]="(getRowspan('level0', i)) ? '' : 'none'"
                          >
                            <span *ngIf="data.level0.name != ''">{{data.level0.wbs.code_wbs}}, {{data.level0.name}}</span>
                            <button *ngIf="data.level0.name != ''" mat-icon-button class="element-list-button"
                                    (click)="toggleElementsListVisible(data.level0.wbs, 0, data.level0.package_id)"
                            >
                              <mat-icon>
                                play_arrow
                              </mat-icon>
                            </button>
                            <br>
                            <span class="date_subtitle" *ngIf="data.level0.name != ''">{{data.level0.wbs.start_date}} - {{data.level0.wbs.end_date}}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="Направление">
                          <th mat-header-cell *matHeaderCellDef> Направление </th>
                          <td mat-cell *matCellDef="let data, let i = index"
                              [attr.rowspan]="getRowspan('level1', i)"
                              [style.display]="(getRowspan('level1', i)) ? '' : 'none'"
                          >
                            <span *ngIf="data.level1.name != ''">{{data.level1.wbs.code_wbs}}, {{data.level1.name}}</span>
                            <button *ngIf="data.level1.name != ''" mat-icon-button class="element-list-button"
                                    (click)="toggleElementsListVisible(data.level1.wbs, 1, data.level1.package_id)"
                            >
                              <mat-icon>
                                play_arrow
                              </mat-icon>
                            </button>
                            <br>
                            <span class="date_subtitle" *ngIf="data.level1.name != ''">{{data.level1.wbs.start_date}} - {{data.level1.wbs.end_date}}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="Объект">
                          <th mat-header-cell *matHeaderCellDef> Объект </th>
                          <td mat-cell *matCellDef="let data, let i = index"
                              [attr.rowspan]="getRowspan('level2', i)"
                              [style.display]="(getRowspan('level2', i)) ? '' : 'none'"
                          >
                            <span *ngIf="data.level2.name != ''">{{data.level2.wbs.code_wbs}}, {{data.level2.name}}</span>
                            <button *ngIf="data.level2.name != ''" mat-icon-button class="element-list-button"
                                    (click)="toggleElementsListVisible(data.level2.wbs, 2, data.level2.package_id)"
                            >
                              <mat-icon>
                                play_arrow
                              </mat-icon>
                            </button>
                            <br>
                            <span class="date_subtitle" *ngIf="data.level2.name != ''">{{data.level2.wbs.start_date}} - {{data.level2.wbs.end_date}}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="Система">
                          <th mat-header-cell *matHeaderCellDef> Система </th>
                          <td mat-cell *matCellDef="let data, let i = index"
                              [attr.rowspan]="getRowspan('level3', i)"
                              [style.display]="(getRowspan('level3', i)) ? '' : 'none'"
                          >
                            <span *ngIf="data.level3.name != ''">{{data.level3.wbs?.code_wbs}}, {{data.level3.name}}</span>
                            <button *ngIf="data.level3.name != ''" mat-icon-button class="element-list-button"
                                    (click)="toggleElementsListVisible(data.level3.wbs, 3, data.level3.package_id)"
                            >
                              <mat-icon>
                                play_arrow
                              </mat-icon>
                            </button>
                            <br>
                            <span class="date_subtitle" *ngIf="data.level3.name != ''">{{data.level3.wbs.start_date}} - {{data.level3.wbs.end_date}}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="Пакет работ">
                          <th mat-header-cell *matHeaderCellDef> Пакет работ </th>
                          <td mat-cell *matCellDef="let data, let i = index"
                              [attr.rowspan]="getRowspan('level4', i)"
                              [style.display]="(getRowspan('level4', i)) ? '' : 'none'"
                          >
                            <span *ngIf="data.level4.name != ''">{{data.level4.wbs?.code_wbs}}, {{data.level4.name}}</span>
                            <button *ngIf="data.level4.name != ''" mat-icon-button class="element-list-button"
                                    (click)="toggleElementsListVisible(data.level4.wbs, 4, data.level4.package_id)"
                            >
                              <mat-icon>
                                play_arrow
                              </mat-icon>
                            </button>
                            <br>
                            <span class="date_subtitle" *ngIf="data.level4.name != ''">{{data.level4.wbs.start_date}} - {{data.level4.wbs.end_date}}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="Смета">
                          <th mat-header-cell *matHeaderCellDef> Смета </th>
                          <td mat-cell *matCellDef="let data, let i = index"
                              [attr.rowspan]="getRowspan('level5', i)"
                              [style.display]="(getRowspan('level5', i)) ? '' : 'none'"
                          >
                            <span *ngIf="data.level5.name != ''">{{data.level5.wbs?.code_wbs}}, {{data.level5.name}}</span>
                            <button *ngIf="data.level5.name != ''" mat-icon-button class="element-list-button"
                                    (click)="toggleElementsListVisible(data.level5.wbs, 5, data.level5.package_id)"
                            >
                              <mat-icon>
                                play_arrow
                              </mat-icon>
                            </button>
                            <br>
                            <span class="date_subtitle" *ngIf="data.level5.name != ''">{{data.level5.wbs.start_date}} - {{data.level5.wbs.end_date}}</span>
                          </td>
                        </ng-container>

                        <!-- Заголовочная строка -->
                        <tr mat-header-row *matHeaderRowDef="tableViewDisplayedColumn"></tr>

                        <!-- Строка данных -->
                        <tr mat-row *matRowDef="let row; columns: tableViewDisplayedColumn"></tr>
                      </table>
                    </mat-tab>
                  </mat-tab-group>
                </div>
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="block" [ngClass]="{'show': isElementsListVisible}">
        <div class="col text-end">
          <button class="mat-btn-recolor" mat-stroked-button (click)="closeElementList()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h1 class="element_title">{{this.elementListTitle?.name}}</h1>
        <mat-list>
          <mat-list-item>Тип: {{this.elementListTitle?.type_node}}</mat-list-item>
          <mat-list-item>Идентификатор: {{this.elementListTitle?.id}}</mat-list-item>
          <mat-list-item>Код СДР(WBS): {{this.elementListTitle?.code_wbs}}</mat-list-item>
          <mat-list-item>Готовность: {{this.elementListTitle?.percent_date}}%</mat-list-item>
          <mat-list-item *ngIf="this.elementListTitle?.start_date">Дата начала: {{this.elementListTitle?.start_date}}</mat-list-item>
          <mat-list-item *ngIf="!this.elementListTitle?.start_date">Дата начала: нет</mat-list-item>
          <mat-list-item *ngIf="this.elementListTitle?.end_date">Дата окончания: {{this.elementListTitle?.end_date}}</mat-list-item>
          <mat-list-item *ngIf="!this.elementListTitle?.end_date">Дата окончания: нет</mat-list-item>
          <mat-list-item>
            <button style="margin-right: 5px" mat-stroked-button class="mat-btn-danger"
                    (click)="deletePackage(this.elementListTitle.id)"
            >Удалить</button>
            <button mat-stroked-button class="mat-btn-recolor" (click)="toggleElementCreateVisible()">Добавить элемент</button>
          </mat-list-item>
        </mat-list>
        <div>
          <h2 class="element_title">Элементы:</h2>
          <mat-accordion *ngIf="elements.length > 0">
            <mat-expansion-panel *ngFor="let element of elements, let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{element.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-list>
                  <mat-list-item>
                    Версия: {{element.version_id}}
                  </mat-list-item>
                  <mat-list-item>
                    Время создания: {{element.date_created}}
                  </mat-list-item>
                  <mat-list-item>
                    <button mat-icon-button>
                      <mat-icon (click)="toggleElementChangeVisible(element)">edit</mat-icon>
                    </button>
                    <button style="color: red" mat-icon-button (click)="deleteElement(i, element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <h3 *ngIf="elements.length == 0">Нет элементов</h3>
          <div *ngIf="isElementCreateVisible" class="col">
            <h2 class="element_title">Добавление элемента:</h2>
            <form [formGroup]="CreateElement"
                  (ngSubmit)="addElement(this.elementListTitle.level, this.elementListTitle.id)" class="row"
            >
              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Название:</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Версия:</mat-label>
                  <input matInput formControlName="version_id">
                </mat-form-field>
              </div>

              <div class="col-12">
                <button mat-stroked-button class="mat-btn-recolor" type="submit" >Добавить</button>
              </div>
            </form>
          </div>
          <div *ngIf="isElementChangeVisible" class="col">
            <h2 class="element_title">Редактирование элемента:</h2>
            <form [formGroup]="ChangeElement"
                  (ngSubmit)="changeElement(this.elementListTitle.level)" class="row"
            >
              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Название:</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Версия:</mat-label>
                  <input matInput formControlName="version_id">
                </mat-form-field>
              </div>

              <div class="col-12">
                <button mat-stroked-button class="mat-btn-recolor" type="submit">Изменить</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="block" [ngClass]="{'show': isFormVisible[0]}">
        <div class="col text-end">
          <button class="mat-btn-recolor" mat-stroked-button (click)="closed()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Проект</h2>
        <div class="col">
          <form [formGroup]="ProjectFilters" (ngSubmit)="addProjectFilter()" class="row">
            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Код СДР(WBS):</mat-label>
                <input matInput formControlName="сode_wbs">
              </mat-form-field>
            </div>
            <!--
            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Родительский узел:</mat-label>
                <input matInput formControlName="node_parent">
              </mat-form-field>
            </div> -->

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit">Сохранить</button>
            </div>
          </form>
        </div>
      </div>

      <div class="block" [ngClass]="{'show': isFormVisible[1]}">
        <div class="col text-end">
          <button class="mat-btn-recolor" mat-stroked-button (click)="closed()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Направление</h2>

        <div class="create" [ngClass]="{'show': createAdd}">
          <div class="col">
            <form [formGroup]="DirectionFilters" (ngSubmit)="addDirectionFilter()" class="row">
              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Название:</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Код СДР(WBS):</mat-label>
                  <input matInput formControlName="сode_wbs">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Родительский узел:</mat-label>
                  <input matInput formControlName="node_parent">
                </mat-form-field>
              </div>

              <div class="col-12">
                <button mat-stroked-button class="mat-btn-recolor" type="submit">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="block" [ngClass]="{'show': isFormVisible[2]}">
        <div class="col text-end">
          <button class="mat-btn-recolor" mat-stroked-button (click)="closed()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Объект</h2>

        <div class="create" [ngClass]="{'show': createAdd}">
          <div class="col">
            <form [formGroup]="ObjectFilters" (ngSubmit)="addObjectFilter()" class="row">
              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Название:</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Код СДР(WBS):</mat-label>
                  <input matInput formControlName="сode_wbs">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Родительский узел:</mat-label>
                  <input matInput formControlName="node_parent">
                </mat-form-field>
              </div>

              <div class="col-12">
                <button mat-stroked-button class="mat-btn-recolor" type="submit">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="block" [ngClass]="{'show': isFormVisible[3]}">
        <div class="col text-end">
          <button class="mat-btn-recolor" mat-stroked-button (click)="closed()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Системы</h2>

        <div class="create" [ngClass]="{'show': createAdd}">
          <div class="col">
            <form [formGroup]="SystemFilters" (ngSubmit)="addSystemFilter()" class="row">
              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Название:</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Код СДР(WBS):</mat-label>
                  <input matInput formControlName="сode_wbs">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Родительский узел:</mat-label>
                  <input matInput formControlName="node_parent">
                </mat-form-field>
              </div>

              <div class="col-12">
                <button mat-stroked-button class="mat-btn-recolor" type="submit">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="block" [ngClass]="{'show': isFormVisible[4]}">
        <div class="col text-end">
          <button class="mat-btn-recolor" mat-stroked-button (click)="closed()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Пакет работ</h2>

        <div class="create" [ngClass]="{'show': createAdd}">
          <div class="col">
            <form [formGroup]="WorkFilters" (ngSubmit)="addWorkFilter()" class="row">
              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Название:</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Код СДР(WBS):</mat-label>
                  <input matInput formControlName="сode_wbs">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Родительский узел:</mat-label>
                  <input matInput formControlName="node_parent">
                </mat-form-field>
              </div>

              <div class="col-12">
                <button mat-stroked-button class="mat-btn-recolor" type="submit">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="block" [ngClass]="{'show': isFormVisible[5]}">
        <div class="col text-end">
          <button class="mat-btn-recolor" mat-stroked-button (click)="closed()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Смета</h2>

        <div class="create" [ngClass]="{'show': createAdd}">
          <div class="col">
            <form [formGroup]="EstimateFilters" (ngSubmit)="addEstimateFilter()" class="row">
              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Название:</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Код СДР(WBS):</mat-label>
                  <input matInput formControlName="сode_wbs">
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Родительский узел:</mat-label>
                  <input matInput formControlName="node_parent">
                </mat-form-field>
              </div>

              <div class="col-12">
                <button mat-stroked-button class="mat-btn-recolor" type="submit">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
