<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
            (click)="setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>
          <button matTooltip="Создать" class="chevron bnt-help--tools"
            (click)="create()"><mat-icon>library_add</mat-icon></button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Карточка объекта</span>
          <span class="tools-inner">Информационный раздел</span>
        </div>
      </div>

      <!-- Добавить карточку объекта -->
      <div class="col card-add-details" >
        <div class="form-budget col compared" [ngClass]="{'show': showBlock1}">
          <div class="col text-end">
            <button class="mat-btn-recolor" mat-stroked-button  (click)="closedAdd()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Создать карточку объекта</h2>

          <form  [formGroup]="form" (ngSubmit)="addCard()" style="display: flex;flex-direction: column;">
            <div class="d-flex">
              <div class="col">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Код СДР:</mat-label>
                  <input matInput name="sdr_id" formControlName="sdr_id">
                  <mat-error *ngIf="form.get('sdr_id')?.hasError('maxlength')">Максимальное количество символов: 15</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>ID АССОИ:</mat-label>
                  <input matInput type="text" mask="0*" [dropSpecialCharacters]="true" name="assoi_id" formControlName="assoi_id">
                  <mat-error *ngIf="form.get('assoi_id')?.hasError('pattern')">Недопустимые символы</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Название объекта:</mat-label>
                  <input matInput name="name" formControlName="name">
                  <mat-error *ngIf="form.get('name')?.hasError('maxlength')">Максимальное количество символов: 100</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-top: -5px;" appearance="outline" class="example-full-width">
                  <mat-label>Направление:</mat-label>
                  <mat-select name="direction_id" formControlName="direction_id" matNativeControl>
                    <mat-option *ngFor="let direction of directions" [value]="direction.id">{{ direction.name }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.get('direction_id')?.hasError('required')">Это поле обязательно для заполнения</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Стоимость:</mat-label>
                  <input matInput [allowNegativeNumbers]="true" mask="separator.2" name="total_cost" formControlName="total_cost">
                  <mat-error *ngIf="form.get('total_cost')?.hasError('pattern')">Вводите только вещественные числа</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col d-flex align-items-center">
              <button mat-stroked-button type="submit" style="margin-top: 15px;margin-bottom: 15px;margin-left: 5px;color: #4da958;">Добавить</button>

              <input #csvInput type="file" (change)="csvInputChange($event)" accept=".xlsx,.xls,.xlsm,.xlsb,.odf,.ods,.odt" style="display: none" />
              <button mat-stroked-button class="add-file recolor" (click)="uploadFile()">{{ isFileUploaded ? 'Файл загружен' : 'Загрузить файл' }}</button>
              <button mat-stroked-button class="upload-file recolor" (click)="csvInput.click()">Выбрать файл</button>
                <span style="margin-left: 15px;">{{ selectedFile?.name }}</span>
                <span style="margin-left: 15px;">{{ message }}</span>
            </div>
          </form>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">

            <!-- access rights
            <mat-card class="example-card widget change-pass" *ngIf="showBlock1" [@fadeInOut]>

              <mat-card-header>
                <mat-card-title>Создать карточку объекта</mat-card-title>
              </mat-card-header>
              <mat-card-content>

              <form  [formGroup]="form" (ngSubmit)="addCard()" style="display: flex;flex-direction: column;">
                <div class="d-flex">
                  <div class="col">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Код СДР:</mat-label>
                      <input matInput name="sdr_id" formControlName="sdr_id">
                      <mat-error *ngIf="form.get('sdr_id')?.hasError('maxlength')">Максимальное количество символов: 15</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>ID АССОИ:</mat-label>
                      <input matInput type="text" mask="0*" [dropSpecialCharacters]="true" name="assoi_id" formControlName="assoi_id">
                      <mat-error *ngIf="form.get('assoi_id')?.hasError('pattern')">Недопустимые символы</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Название объекта:</mat-label>
                      <input matInput name="name" formControlName="name">
                      <mat-error *ngIf="form.get('name')?.hasError('maxlength')">Максимальное количество символов: 100</mat-error>
                    </mat-form-field>

                    <mat-form-field style="margin-top: -5px;" appearance="outline">
                      <mat-label>Направление:</mat-label>
                      <mat-select name="direction_id" formControlName="direction_id" matNativeControl>
                        <mat-option *ngFor="let direction of directions" [value]="direction.id">{{ direction.name }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.get('direction_id')?.hasError('required')">Это поле обязательно для заполнения</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Стоимость:</mat-label>
                      <input matInput [allowNegativeNumbers]="true" mask="separator.2" name="total_cost" formControlName="total_cost">
                      <mat-error *ngIf="form.get('total_cost')?.hasError('pattern')">Вводите только вещественные числа</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col d-flex align-items-center">
                  <button mat-stroked-button type="submit" style="margin-top: 15px;margin-bottom: 15px;margin-left: 5px;color: #4da958;">Добавить</button>

                  <input #csvInput type="file" (change)="csvInputChange($event)" accept=".xlsx,.xls,.xlsm,.xlsb,.odf,.ods,.odt" style="display: none" />
                  <button mat-stroked-button class="add-file recolor" (click)="uploadFile()">{{ isFileUploaded ? 'Файл загружен' : 'Загрузить файл' }}</button>
                  <button mat-stroked-button class="upload-file recolor" (click)="csvInput.click()">Выбрать файл</button>
                    <span style="margin-left: 15px;">{{ selectedFile?.name }}</span>
                    <span style="margin-left: 15px;">{{ message }}</span>
                </div>
              </form>
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card> -->

            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> № п.п. </th>
                  <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="sdr_id">
                  <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.editing">{{element.sdr_id}}</span>
                    <input matInput *ngIf="element.editing" [(ngModel)]="element.sdr_id" class="editing">
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="assoi_id">
                  <th mat-header-cell *matHeaderCellDef> ID АССОИ </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.editing">{{element.assoi_id}}</span>
                    <input matInput *ngIf="element.editing" [(ngModel)]="element.assoi_id" class="editing">
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Название объекта </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.editing">{{element.name}}</span>
                    <input matInput *ngIf="element.editing" [(ngModel)]="element.name" class="editing">
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="total_cost">
                  <th mat-header-cell *matHeaderCellDef> Стоимость </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.editing">{{element.total_cost}}</span>
                    <input matInput *ngIf="element.editing" [(ngModel)]="element.total_cost" class="editing">
                  </td>
                </ng-container>

                <ng-container matColumnDef="pir_cost">
                  <th mat-header-cell *matHeaderCellDef> ПИР </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.editing">{{element.pir_cost}}</span>
                    <input matInput *ngIf="element.editing" [(ngModel)]="element.pir_cost" class="editing">
                  </td>
                </ng-container>

                <ng-container matColumnDef="smr_cost">
                  <th mat-header-cell *matHeaderCellDef> СМР </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.editing">{{element.smr_cost}}</span>
                    <input matInput *ngIf="element.editing" [(ngModel)]="element.smr_cost" class="editing">
                  </td>
                </ng-container>

                <ng-container matColumnDef="equipment_cost">
                  <th mat-header-cell *matHeaderCellDef> Оборудование </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.editing">{{element.equipment_cost}}</span>
                    <input matInput *ngIf="element.editing" [(ngModel)]="element.equipment_cost" class="editing">
                  </td>
                </ng-container>

                <ng-container matColumnDef="other_cost">
                  <th mat-header-cell *matHeaderCellDef> Прочие </th>
                  <td mat-cell *matCellDef="let element"> {{element.other_cost}} </td>
                </ng-container>

                <ng-container matColumnDef="direction_id">
                  <th mat-header-cell *matHeaderCellDef> Направление</th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.editing">{{element.direction_id}}</span>

                    <mat-form-field *ngIf="element.editing" class="select-edit" appearance="outline">
                      <mat-select matNativeControl [(ngModel)]="element.direction_id" [(value)]="element.direction_id">
                        <mat-option *ngFor="let direction of directions" [value]="direction.id">{{ direction.name
                          }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.direction_id" class="editing"> -->
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Действие </th>
                  <td mat-cell *matCellDef="let element" class="edit">
                    <button class="btn-table recolor" matTooltip="Изменить" mat-stroked-button *ngIf="!element.editing"
                      (click)="edit(element)"><mat-icon>edit</mat-icon></button>
                    <button matTooltip="Сохранить" mat-stroked-button *ngIf="element.editing" (click)="save(element)"
                      class="btn-table done recolor"><mat-icon>done</mat-icon></button>

                    <button (click)="remove(element.id)" color="warn" class="btn-table" matTooltip="Удалить"
                      mat-stroked-button><mat-icon>clear</mat-icon></button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
