<div mat-dialog-title>
    <h2 class="example-h2">Ответственный Специалист</h2>
    <hr>
    <section class="d-flex justify-content-start">
      <mat-radio-group [(ngModel)]="labelPosition">
        <ul style="list-style-type: none;">
          <li>
            <mat-radio-button class="example-margin" value="Артёмов">Артёмов</mat-radio-button>
            <!-- <mat-badge matBadge="1" matBadgeColor="accent" *ngIf="labelPosition === '1'"></mat-badge> -->
          </li>
          <li>
            <mat-radio-button class="example-margin" value="Петрушевский">Петрушевский</mat-radio-button>
            <!-- <mat-badge matBadge="1" matBadgeColor="accent" *ngIf="labelPosition === '2'"></mat-badge> -->
          </li>
          <li>
            <mat-radio-button class="example-margin" value="Кремлёв">Кремлёв</mat-radio-button>
            <!-- <mat-badge matBadge="1" matBadgeColor="accent" *ngIf="labelPosition === '3'"></mat-badge> -->
          </li>
          <li>
            <mat-radio-button class="example-margin" value="Алексеев">Алексеев</mat-radio-button>
            <!-- <mat-badge matBadge="1" matBadgeColor="accent" *ngIf="labelPosition === '4'"></mat-badge> -->
          </li>
          <li>
            <div *ngIf="budget">
                <p>{{ budget }}</p>
              </div>
          </li>
        </ul>
      </mat-radio-group>
    </section>
    <hr>
    <button mat-stroked-button color="primary" (click)="onNoClick()" style="width: 100%;">Отправить</button>
  </div>
  